[submodule "RWS-backend"]
	path = @rws/server
	url = git@github.com:papablack/rws.git

[submodule "RWS-frontend"]
	path = @rws/client
	url = git@github.com:papablack/rws-client.git

[submodule "RWS-nest-interconnectors"]
	path = @rws/nest-interconnectors
	url = git@github.com:papablack/rws-nest-interconnectors.git	

[submodule "RWS-project-creator"]
	path = @rws/project-creator
	url = git@github.com:papablack/rws-project-creator.git

[submodule "RWS-manager"]
	path = @rws/manager
	url = git@github.com:papablack/rws-manager.git

[submodule "RWS-console"]
	path = @rws/console
	url = git@github.com:papablack/rws-console.git	

[submodule "RWS-browser-router"]
	path = @rws/browser-router
	url = git@github.com:papablack/rws-browser-router.git		

[submodule "RWS-console-vis"]
	path = @rws/console-vis
	url = git@github.com:papablack/rws-console-vis.git		