#docker
docker/deploy/.env

#node modules
backend/node_modules/
frontend/node_modules/
node_modules

#git modules
@rws/
!@rws/sample-pkg

#front dynamic content
frontend/dist/*
frontend/public/js/*
!frontend/public/js/cfg/cfg.js.dist
frontend/build/*

#back dynamic content
backend/dist/*
backend/build/*
backend/downloads/*
backend/src/.env
backend/trainer-assets/*
!backend/trainer-assets/.gitkeep

#pkgs
yarn.lock

#IDE
.vscode

#other
workspace/