[submodule "RWS-backend"]
	path = backend/rws
	url = git@github.com:papablack/rws.git

[submodule "RWS-frontend"]
	path = frontend/rws
	url = git@github.com:papablack/rws-client.git

[submodule "RWS-project-creator"]
	path = project-creator
	url = git@github.com:papablack/rws-project-creator.git

[submodule "RWS-manager"]
	path = manager
	url = git@github.com:papablack/rws-manager.git